.btn {
  padding: 2rem 4rem;
  border: 2px solid var(--color, black);
  background: transparent;
  font-size: 1.6em;
  border-radius: 2px;

  &:hover{
    background-color: var(--color, black);
  }
}

.red {
    --color: red;
}
.green{
    --color: green;
}
.yellow{
    --color: yellow;

}
.blue{
    --color: blue;
}
.brown{
    --color: brown;
}

/* Créer les variables CSS correpondantes aux classes des différents boutons

Ne pas oublier l'effet au survol (effet inversé / fond de la variable de couleur)*/
